.deleteu { color: red ;font-size:20px;}
.editu { font-size:20px; color: red}
.imagess { width: :50px; height:50px; }
.fixsome {height: 40px;}
.bookimage { width: :120px; height:125px; }
.favoriteStatus {color: #FFD700;}
.readStatus {color: red;}
